:root {
	/* --main: rgb(52, 77, 114);
	--main-low: rgba(52, 77, 114, 0.2);
	--gray: rgb(75, 75, 75); */

	/* --main: #e85a4f; */
	--main: #e98047;
	/* --main-low: #E98047; */
	--main-low: #d8c3a5;
	--gray: #8e8d8a;
}

html {
	--scrollbarBG: #d8c3a5;
	--thumbBG: #e98047;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	color: var(--gray);
	background-color: #eae7dc;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar {
	width: 11px;
}

body::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG);
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
}

h1::selection,
p::selection,
span::selection,
a::selection ,
h2::selection{
	color: #eae7dc;
	background-color: var(--main);
}

h4::selection {
	color: var(--main);
	background-color: #eae7dc;
}

.main {
	padding: 40px 10rem;
}

.intro {
	padding: 2px 12px;
	border-left: 8px solid var(--main);
	display: flex;
	flex-wrap: wrap;
}

.first-sect {
	flex: 3;
}

.name {
	font-size: 42px;
	margin: 0;
	letter-spacing: 0.162em;
	font-weight: 400;
}

.desc {
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.167em;
	font-weight: 400;
}

.desc span {
	color: var(--main);
	font-weight: 600;
}

.navbar {
	list-style: none;
	flex: 1;
}

.nav-item {
	display: inline;
	padding: 2px 6px;
}

.nav-item a {
	text-decoration: none;
	font-size: 16px;
	line-height: 1.8;
	letter-spacing: 0.125em;
	font-weight: 500;
	color: var(--gray);
}

.nav-item a:hover {
	color: var(--main);
	font-weight: 600;
}

/* project section */
.about {
	text-align: left;
	margin-top: 100px;
	margin-bottom: 100px;
	display: flex;
	z-index: 1;
}

.image-box {
	margin-right: 80px;
	width: 200px;
	height: 200px;
	border: 2px solid var(--main);
	display: inline-block;
	box-shadow: 30px 20px 0px var(--main-low);
	/* box-shadow: 10px 10px 0px var(--main-low); */
}
.wm {
	font-family: sans-serif;
	position: absolute;
	top: 0;
	line-height: 1;
	z-index: -1;
	opacity: 0.2;
	overflow: hidden;
	color: #eee;
	font-size: 15em;
}
.proj {
	margin-top: 40px;
}
.proj-name {
	border-right: 8px solid var(--main);
	text-align: right;
	margin: 12px 0;
	margin-top: 100px;
}

 .comp-name{
	border-left: 8px solid var(--main);
	text-align: left;
	margin: 12px 0;
	margin-top: 100px;
}

.proj-txt {
	font-size: 42px;
	/* line-height: 0; */
	color: var(--gray);
	letter-spacing: 0.162em;
	font-weight: 400;
	padding: 2px 12px;
}

hr {
	height: 8px;
	background-color: var(--main);
}

.hr-project::after , .hr-components::after {
	color: var(--main);
	position: relative;
	display: block;
	content: '';
	width: 10%;
	height: 100px;
	background-color: var(--main);
	clip-path: polygon(49% 22%, 0 0, 100% 0);
	-webkit-clip-path: polygon(49% 22%, 0 0, 100% 0);
}

.hr-components::after{
	right: -90%;
	
}

.projects , .components {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100vw;
	position: relative;
	left: -150px;
	right: 0;
}

.card:nth-child(odd) {
	height: 170px;
	width: 250px;
}
.card:nth-child(even) {
	height: 220px;
	width: 300px;
}
.card {
	margin: 12px;
	display: flex;
	padding: 24px;
	border-left: 1px solid var(--main);
	color: var(--gray);
}

.card-image {
	width: 100%;
	border: 4px double var(--main);
	box-shadow: -10px -10px 0px var(--main-low);

	/* height: 300px; */
}
.card-content {
	cursor: pointer;
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: var(--main);
	color: #eee;
	text-align: center;
	padding: 6px 24px;
	padding-bottom: 12px;
	min-width: 90%;
	height: 90%;
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
	border: 4px double white;
	box-shadow: -15px -15px 0px var(--main-low);
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}

.card :nth-child(even) .card-content {
	/* min-width: 300px; */
	min-width: 300px;
	color: green;
}

.card-title {
	font-size: 24px;
	width: 100%;
	/* line-height: 0; */
	letter-spacing: 0.077em;
	font-weight: 600;
}

.card-desc {
	line-height: 1.2;
	font-size: 14px;
	letter-spacing: 0.112em;
}

.cta:hover {
	background-color: var(--main-low);
	content: 'view';
}

/* ----------
button
------------ */

/* tablit view */
@media only screen and (max-width: 600px) {
	.main {
		padding: 40px 3rem;
	}
}
